---
useCases:
  Insecure Bank:
    previews:
    - section: WebGoat
      description: WebGoat app deployed
      url: "{{ webgoat_endpoint }}/insecure-bank"
    guides:
    - description: "Hands on training for WebGoat"
      url: "URL FOR HOT DESCRIPTION"

extRefs:
  Insecure Bank:
    url: "{{ webgoat_endpoint }}"
    description: "<a href=\"{{ webgoat_endpoint }}/WebGoat\">WebGoat</a> is used to demonstrate attack protection capabilities within Dynatrace"